.textTitle {
  margin: 80px 0 60px 115px;
  text-align: left;
}
.textTitle h1 {
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 120%;
color: #FFFFFF;
text-transform: capitalize;
}

.textTitle p {
  margin-top: 10px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}