.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(84, 79, 79, 0.2),2px 10px 8px rgba(84, 79, 79, 0.2);
  border-radius: 20px;
  -webkit-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -o-transform: scale(2.1);
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;

}