.spaceImg {
  width: 510px;
  height: 401px;
}

.digitalArt { 
  width: 510px;
  height: 510px;
}

.digitalArt h1 {
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 67px;
line-height: 110%;
color: #FFFFFF;
text-transform: capitalize;
margin-bottom: 20px;
}

.digitalArt p {
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}

.button {
  width: 224px;
height: 60px;
background: #A259FF;
border-radius: 20px;
margin: 30px 0;
background-image: url('../../../../assets/icons/rocket.png');
background-size: 20px 20px;
background-repeat: no-repeat;
background-position: 23% 50%;
padding: 19px 50px 19px 82px;
}

.firstSection {
  display: flex;
  padding: 80px 115px;
}

.card {
  width: 510px;
  height: 510px;
  background: #3B3B3B;
}

.totalSale {
  width: 150px;
  height: 77px;
}

.totalSale h2 {
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 140%;
color: #FFFFFF;
}

.totalSale p {
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 23.99px;
line-height: 160%;
}

.amount {
  display: flex;
  gap: 30px;
  justify-content: left;
}

.collect {
  margin: 22px 0 24px 20px;
  height: 109px;
}

